
  
  <div class="camera"><div class="overlay"> <h1> A new way to find your best self
  </h1><br><%= link_to "Start Now", new_user_registration_path,  :class =>" black-text yellow waves-effect waves-light btn"%></div></div></div>
  </div>
  
