    <div class="card yellow lighten-5 z-depth-4">
            <div class="card-content ">
              <span class="card-title center"><h3 class = "cyan-text"> DERP! </h3></span>
                <div class="comparesContainer flexCenter">
                   <h6 class="center-align cyan-text">Look like you have no compararives. You can create one by using the button below ...</h6><br>
                   <%= link_to "New Comparative", new_compare_path,  :class =>"waves-effect waves-light btn center cyan"%>
                </div> 
   
            </div>
      </div>
           
