<h1>All Compares</h1>
  <% @compare.each do |x|%>
  <h1><%= x.headline%></h1>
    <div class="compare">
      <div class="comp1">
        <%= x.img1_url%>
        <button>vote</button>
      </div>
    <div class="comp2">
      <%= x.img2_url%>
      <button>vote</button>
    </div>
  <%end%>

</div>
