<footer class="page-footer  cyan darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Want to Help?</h5>
                <p class="grey-text text-lighten-4">You can help me get a good grade by using this app. Compare any two photo you like and get a crowd sourced analyses to help you choose your best self tp present!</p>
                
                <%if user_signed_in?%>
                <%= link_to "Start Now", new_compare_path,  :class =>" black-text yellow waves-effect waves-light btn"%>
                <%else %>
                <%= link_to "Start Now", new_user_registration_path,  :class =>" black-text yellow waves-effect waves-light btn"%>
                <%end%>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Comparative
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        </footer>