<footer class="page-footer  cyan darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Want to Help?</h5>
                <p class="grey-text text-lighten-4">You can help me get a good grade by using this app. Compare any two photo you like and get a crowd sourced analyses to help you choose your best self tp present!</p>
                
                <%if user_signed_in?%>
                <%= link_to "Start Now", new_compare_path,  :class =>" black-text yellow waves-effect waves-light btn"%>
                <%else %>
                <%= link_to "Start Now", new_user_registration_path,  :class =>" black-text yellow waves-effect waves-light btn"%>
                <%end%>
              </div>
              <div class="col l4 offset-l2 s12">
                 <h5 class="white-text center-align">Connect with the creator</h5><br>
                <div class= "comparesContainer devise">
               
                
               <a class="grey-text text-lighten-3" href="https://www.facebook.com/rafael.fernandez.161009"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                 <a class="grey-text text-lighten-3" href="https://github.com/myztajay"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                  <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/rafael-fernandez"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                  <a class="grey-text text-lighten-3" href="https://twitter.com/Reactor_7"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Comparative
          
            </div>
          </div>

        </footer>